.educacion{
    
    &__body{
        background-color: $blue;
    }
    &__header{
        overflow: hidden;
        padding: 10px 35px 10px 24px;
        margin-top: 56px;
    }
    &__title{
        color: $white;
        margin: 0;
        width: auto;
        display: inline;
        
    }
    &__notification{
        cursor: pointer;
        float: right;
    }
    &__searchbar{
        width: 90%;
        border-radius: 15px;
        border: none;
        padding: 15px;
        margin-top: 18px;
    }
    &__input[type=text]{
        color: aqua;
    }
    &__articles{
        background-color: $white;
        border-radius: 20px 20px 0px 0px;
        position: relative;
    }
    &__sectiontitle{
        color: #2D2D2D;
        padding: 27px 0px 0px 24px;
        font-size: 18px;

    }
    &__article{
        box-shadow: 0 2px 6px 0 rgba(43, 43, 43, 0.2);
        transition: 0.3s;
        padding: 24px;
        width: 63%;
        margin-left: 24px;
        border-radius: 8px;
    }
    &__article2{
        box-shadow: 0 2px 6px 0 rgba(43, 43, 43, 0.2);
        transition: 0.3s;
        padding: 24px;
        width: 63%;
        margin-left: 24px;
        border-radius: 8px;
    }
    &__educacion__article__image{
        padding: 15px;
        
    }
    &__articlestitle{
        color: #2D2D2D;
        padding: 0px 0px 0px 0px;
        font-size: 16px;
        display: inline;
    }
    &__articlesubtitle{
        color: #9B9B9B;
        padding: 0px 0px 0px 0px;
        font-size: 14px;
    }
    &__articlesubtitle2{
        color: #2D2D2D;
        padding: 21px 0px 0px 24px;
        font-size: 14px;
    }
    &__goto{
        display: inline;
        float: right;
    }
    &__reactions{
        margin-top: 20px;
    }
    &__navbar {
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 2px 6px 0 rgba(43, 43, 43, 0.2);
        
        display: flex;
        position: absolute;
        bottom: 0%;
        
      }
      
      &__navbar a {
        color: #9B9B9B;
        text-decoration: none;
        font-size: 12px;
        display: block;
      }
      &__link{
          text-align: center;
          padding: 12px 20px 10px 0px;
          margin-left: 15px;
      }
}
body{
    color: $blue;
}

