.input{
    width: 100%;
    height: 45px;

    border: none;
    border-radius: 10px;
    background-color: $white;
    padding-left: 25px;

    color: #9B9B9B;
}

.input:focus{
    outline: none;
    
}