.navBarEmbajador{
        background-color: white;
        position: absolute;
        bottom: 0px;
        box-shadow: 0px 0px 15px rgba(71, 71, 71, .2);
        width: 360px;
    
    
        &__section{
            display: flex;
            padding: 10px 0px;
            justify-content: center;
    
        }
    
        &__item{
       // background-color: yellow;
        padding: 0px 10px;
    
        }
    
        &__icon{
            display: flex;
            margin: 0px auto;
           
        }
        &__label{
            margin: 0px;
            font-size: 0.8em;
            font-weight: lighter;
            color: #828282;
        }
    
}