html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
body{
    width: 360px;
    height: 760px;

    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

    border: 1px solid slategrey;
}

.logo{
    &--splash{
        width: 65px;
    }
}

@import './utils/colors';
@import './utils/typography';
@import './components/btns';
@import './layout/splashPage';
@import './layout/educacion';