@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

body {
  width: 360px;
  height: 760px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  border: 1px solid slategrey;
}

.logo--splash {
  width: 65px;
}

.logo--header {
  width: 37px;
}

* {
  font-family: "Inter", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 28px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

p {
  font-weight: 500;
  font-size: 16px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.btn {
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  border-radius: 20px;
}

.btn--primary {
  background-color: #FF6900;
}

.btn--primary:hover {
  background-color: #e06004;
  cursor: pointer;
}

.btn--secondary {
  background-color: #5F259F;
}

.btn--secondary:hover {
  background-color: #4a1880;
}

.input {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: white;
  padding-left: 25px;
  color: #9B9B9B;
}

.splashPage__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 45%;
}

.splashPage__main {
  height: 55%;
  background-color: #0097A1;
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 15px 15px 0px 0px;
  color: white;
  text-align: center;
}

.login__header {
  background-color: white;
  height: 70px;
  padding-right: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.login__main {
  text-align: center;
  height: 690px;
  background-color: #5F259F;
  color: white;
  border-radius: 15px 15px 0px 0px;
  padding: 100px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__main form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 250px;
}

.login__main--ambassador {
  background-color: #FF6900;
}

.userChat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.userChat__header {
  background-color: white;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: .25em;
  padding-right: 1em;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.userChat__menuDots {
  margin-top: 0;
  margin-bottom: 0;
  height: 30px;
  width: 30px;
}

.userChat__image {
  height: 50px;
  width: 50px;
}

.userChat__level {
  background: #FF6900;
  width: 48px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transform: translate(0%, -80%);
          transform: translate(0%, -80%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
}

.userChat__levelText {
  margin: 0;
  font-size: .7em;
  font-weight: bold;
  color: white;
}

.userChat__ambassadorName {
  font-size: 20px;
}

.userChat__status {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background: #32FF29;
}

.userChat__phone {
  height: 20px;
}

.userChat__close {
  height: 18px;
}

.userChat__chat {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userChat__startLog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #BDBDBD;
}

.userChat__date {
  margin: 1em 0 .5em 0;
}

.userChat__title {
  margin: 0;
}

.userChat__chat {
  color: white;
  width: 50%;
  margin: 1em auto 0em 2em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: darkgrey;
  padding: 0em 1em;
}

.userChat__chat--amb {
  border-radius: 10px 10px 10px 0px;
  background-color: #FF6900;
}

.userChat__chat--cli {
  border-radius: 10px 10px 0px 10px;
  background-color: #5F259F;
  margin: 1em 2em 0em auto;
}
/*# sourceMappingURL=main.css.map */