html{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

body {
    width: 360px;
    height: 760px;
    position: relative;

    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

    border: 1px solid slategrey;
}

.scroll{
    height: 760px;
    overflow: scroll;
    padding-bottom: 60px;

    &--chat{
        padding-bottom: 80px;
    }
}

::-webkit-scrollbar {
    display: none;
}

.logo{
    &--splash{
        width: 65px;
    }

    &--header {
        width: 37px;
    }
}

.close{
    display: none !important;
}

.show{
    display: block;
}

.click{
    cursor: pointer;
}

@import './utils/colors';
@import './utils/typography';
@import './components/btns';
@import './components/inputs';
@import './components/modal';
@import './layout/splashPage';
@import './layout/login';
@import './layout/homeUser';
@import './components/navBarEmbajador';
@import './layout/homeEmbajador';
@import './layout/elegirEmbajador';
@import './layout/perfil';
@import './layout/misDatos';
@import './layout/userChat';
@import './layout/splashPage';
@import './layout/educacion';
@import './layout/sucursales';
@import './layout/notification';
@import './layout/login';
@import './layout/qualification';
@import './layout/onboarding'
