@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

body {
  width: 360px;
  height: 760px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  border: 1px solid slategrey;
}

.logo--splash {
  width: 65px;
}

* {
  font-family: "Inter", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 28px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

p {
  font-weight: 500;
  font-size: 16px;
}

/*
h1, h2, h3 {
    font-family: $quicksand;
    font-weight: 600;
    font-size: 3rem;
}
*/
.btn {
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  border-radius: 20px;
  background-color: #FF6900;
}

.btn:hover {
  background-color: #e06004;
  cursor: pointer;
}

.btn--secondary {
  background-color: #5F259F;
}

.btn--secondary:hover {
  background-color: #4a1880;
}

.splashPage__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
}

.splashPage__btns {
  height: 50%;
  background-color: #0097A1;
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 15px 15px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  text-align: center;
}

.educacion__body {
  background-color: #0097A1;
}

.educacion__header {
  overflow: hidden;
  padding: 10px 35px 10px 24px;
  margin-top: 56px;
}

.educacion__title {
  color: white;
  margin: 0;
  width: auto;
  display: inline;
}

.educacion__notification {
  cursor: pointer;
  float: right;
}

.educacion__searchbar {
  width: 90%;
  border-radius: 15px;
  border: none;
  padding: 15px;
  margin-top: 18px;
}

.educacion__input[type=text] {
  color: aqua;
}

.educacion__articles {
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}

.educacion__sectiontitle {
  color: #2D2D2D;
  padding: 27px 0px 0px 24px;
  font-size: 18px;
}

.educacion__article {
  -webkit-box-shadow: 0 2px 6px 0 rgba(43, 43, 43, 0.2);
          box-shadow: 0 2px 6px 0 rgba(43, 43, 43, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 24px;
  width: 63%;
  margin-left: 24px;
  border-radius: 8px;
}

.educacion__article2 {
  -webkit-box-shadow: 0 2px 6px 0 rgba(43, 43, 43, 0.2);
          box-shadow: 0 2px 6px 0 rgba(43, 43, 43, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 24px;
  width: 63%;
  margin-left: 24px;
  border-radius: 8px;
}

.educacion__educacion__article__image {
  padding: 15px;
}

.educacion__articlestitle {
  color: #2D2D2D;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  display: inline;
}

.educacion__articlesubtitle {
  color: #9B9B9B;
  padding: 0px 0px 0px 0px;
  font-size: 14px;
}

.educacion__articlesubtitle2 {
  color: #2D2D2D;
  padding: 21px 0px 0px 24px;
  font-size: 14px;
}

.educacion__goto {
  display: inline;
  float: right;
}

.educacion__reactions {
  margin-top: 20px;
}

body {
  color: #0097A1;
}
/*# sourceMappingURL=main.css.map */